<!--
  This template loads for the 'tab.event-detail' state (app.js)
  'event' is a $scope variable created in the EventCtrl controller (controllers.js)
  The EventCtrl pulls data from the Friends service (service.js)
  The Event service returns an array of event data
-->
<ion-view view-title="{{event.name}}">
    <ion-content class="padding">
        <img ng-src="{{event.image}}" style="width: 64px; height: 64px">
        <p>
            Description : {{event.description}}
        </p>
        <p>
            A l'adresse : {{event.adresse}}
        </p>
        <p>
            Telephone : {{event.telephone}}
        </p>
    </ion-content>
</ion-view>
