<ion-view view-title="Accueil">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Game Tinder</div>
      <div class="item item-body">
        <div>
          Trouvez les évènements sur vos jeux préférés près de chez <b>vous</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Connectez-vous</div>
      <div class="item item-body">
        <div>
          Et commentez les évènements pour avoir plus d'informations (version future)
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
