<ion-view view-title="Acceuil">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Game Tinder</div>
      <div class="item item-body">
        <div>
          Trouver les evenements sur vos jeux preferes pres de chez <b>vous</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Connectez-vous</div>
      <div class="item item-body">
        <div>
          Et commentez les evenements pour avoir plus d'informations
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
